docker/db/*
!docker/db/Dockerfile
!docker/db/Dockerfile/requirements.txt

server/project/*
!server/project/run.py
!server/project/Peter/

server/project/Peter/*
!server/project/Peter/__init__.py
!server/project/Peter/app.py
!server/project/Peter/config.py
!server/project/Peter/database.py
!server/project/Peter/models/

server/project/Peter/models/*
!server/project/Peter/models/__init__.py
!server/project/Peter/models/models.py